#!/bin/bash

dev_line=`lsblk -lno NAME,MOUNTPOINT | grep {{ item['device'] | replace("/dev/","") }}`
if [ -z "$dev_line" ]
then
    exit 1
else
    line=`lsblk -lno NAME,MOUNTPOINT | grep {{ item['device'] | replace("/dev/","") }} | grep {{ item['mountpoint'] }}`
    if [ -z "$line" ]
    then
        mount {{ item['device'] }} {{ item['mountpoint'] }}
    else
        exit 0
    fi
fi
