metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.period: 10s
  reload.enabled: false

metricbeat.max_start_delay: 10s

metricbeat.modules:
  - module: system
    metricsets:
      - cpu             # CPU usage
      - load            # CPU load averages
      - memory          # Memory usage
      - network         # Network IO
      - process         # Per process metrics
    #  - process_summary # Process summary
      - uptime          # System Uptime
      - filesystem     # File system usage for each mountpoint
    enabled: {{ metricbeat_system_enable | default(true) }}
    period: {{ metricbeat_system_period | default('60s') }}
    processes: ['.*']
    system.hostfs: "/hostfs"

  - module: docker
    metricsets:
      - "container"
      - "cpu"
      - "diskio"
      - "event"
  #    - "healthcheck"
      - "info"
  #    - "image"
      - "memory"
      - "network"
  #    - "network_summary"
    hosts: ["unix:///var/run/docker.sock"]
    period: {{ docker_period | default('60s') }}
    enabled: {{ metricbeat_docker_enable | default(true) }}

  - module: elasticsearch
    enabled: {{ metricbeat_elasticsearch_enable | default(false) }}
    metricsets:
      - node
      - node_stats
  #    - index
  #    - index_recovery
  #    - index_summary
  #    - shard
  #    - ml_job
    period: {{ elasticsearch_period | default('60s') }}
    hosts: {{ es_hosts | default(['http://localhost:9200']) }}

name: {{ beat_hostname }}
output.elasticsearch:
  enabled: true
  hosts: {{ elasticsearch_output_hosts | default(['localhost:9200']) }}

setup.template.settings:
  index:
    number_of_shards: 1
    number_of_replicas: 0


setup.ilm.enabled: true
setup.ilm.policy_name: "{{ policy_name | default('default') }}"
logging.to_files: true
logging.files:
  keepfiles: 2

