filebeat.modules:
#  - module: elasticsearch
#    server:
#      enabled: true
#    gc:
#      enabled: true
#    audit:
#      enabled: true
#    slowlog:
#      enabled: true
#    deprecation:
#      enabled: true

filebeat.inputs:
  - type: log
    enabled: true
    paths: {{ filebeat_logs }}

  - type: container
    enabled: true
    paths:
      -/var/lib/docker/containers/*/*.log

output.elasticsearch:
  enabled: true
  hosts: {{ elasticsearch_output_hosts | default(['localhost:9200']) }}

setup.template.settings:
  index:
    number_of_shards: 1
    number_of_replicas: 0
setup.ilm.enabled: true
setup.ilm.policy_name: "default"
logging.to_files: true
logging.files:
  keepfiles: 2
